@use 'variables'

@mixin buttons
    margin-top: 1rem
    display: inline-block
    padding: .9rem 3rem
    font-size: 1.7rem
    color: #fff
    background: variables.$color--tertiary
    cursor: pointer

